<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ws-uri" value="wss://us.wio.seeed.io/v1/node/event"/>
    <add key="ws-key" value="yourkey"/>
    <add key="http-rainbow" value="https://us.wio.seeed.io/v1/node/GroveLedWs2812D1/start_rainbow_flow/{0}/{1}/{2}?access_token={3}"/>
    <add key="http-clear" value="https://us.wio.seeed.io/v1/node/GroveLedWs2812D1/clear/{0}/000000?access_token={1}"/>
    <add key="amount-led" value="30"/>
    <add key="speed-rainbow" value="8"/>
    <add key="brightness-rainbow" value="50"/>
    <add key="timer-duration" value="180000"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>